[Unit]
Description=Servicio de saludo
After=network.target

[Service]
Type=simple
ExecStart=/home/robin/Documentos/Universidad/2024/1Semestre/SO1/SO1_ACTIVIDADES_201944994/ACTIVIDAD3/saludo.sh
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
